* {
    box-sizing:border-box;
}

.contact-ul:hover {
    color: lightgray;
    cursor: pointer;
}

.slider{
    padding: 0;
}
.carousel-item img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.carousel-item img {
    opacity: 0.7;
}

.gallery {
    width: 100%;
}
.gallery img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}


.gallery p {
    background-color: gold;
    right: 0;
    bottom: -10px;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    padding-left: 50px;
    
}

.row-img:hover .moving-text  {
    right: 12px;
    bottom: 0;
}

.gallery img:hover {
    opacity: 0.7;
    
}

.btn {
    background-color: gold;
}


.icon-rek {
    color: gold;
    font-size: 30px;
    padding: 0.1rem;
}
.icon-rek-2 {
    color: gold;
    font-size: 30px;
    padding: 0.1rem;
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: goldenrod;
}

.contact p, .footer p {
    color: gold;
}

.footer p {
    margin-bottom: 0.5rem;
}


